@tailwind base;
@tailwind components;
@tailwind utilities;

/* import local fonts */
@layer base {
  @import url("./assets/fonts/fonts.css");
}

body {
  margin: 0;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate-270 {
  transform: rotate(270deg);
}

.positionAbsoluteCenter{
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.artistSectionTab{
  @apply text-white px-6 py-2 rounded;
  background: rgba(255,255,255,0.05);
}